<div class="header">
    <div class="logo">
        <img src="https://drive.google.com/file/d/1KXt62wiIjy8k9QrkNQlPIuNPplj3e1gZ/view?usp=sharing" alt="logo">
    </div>
    <div class="icon">
        <img src="https://drive.google.com/file/d/17CfGTuCYhCRyb02QvaHWlyzIbc8yQiFq/view?usp=sharing" alt="cv" class="cv">
        <img src="https://drive.google.com/file/d/1Gyx4rsp6r-vqRc6jeGqbo4A4CX1CesUH/view?usp=sharing" alt="gallery" class="gallery">
        <img src="https://drive.google.com/file/d/19A3aMx5yTm73ADRyaVzUmSnYJ7WBjQGU/view?usp=sharing" alt="message" class="message">
    </div>
</div>
