<div class="footer">
    <div class="contacto">
        <p>Contacto</p>
        <div class="facebook-link">
            <img src="https://drive.google.com/file/d/1ta3goPWcfORYE_nxibyOgG68FAuR-g85/view?usp=sharing" alt="facebook" class="facebook-icon">
            <a href="/">/nicolasPachecoLopez</a>
        </div>
        <div class="instagram-link">
            <img src="https://drive.google.com/file/d/1XSUkwTofca1kJPG5a_JjH02B01Cp3vGi/view?usp=sharing" alt="instagram" class="instagram-icon">
            <a href="/">/niko_pl97</a>
        </div>
    </div>
    <div class="about">
        <a href="/">Acerca de esta aplicación</a>
    </div>
</div>
