<div class="footer">
    <div class="contacto">
        <p>Contacto</p>
        <div class="facebook-link">
            <img src="https://img.icons8.com/color/48/000000/facebook-circled--v4.png" alt="facebook" class="facebook-icon">
            <a href="/">/nicolasPachecoLopez</a>
        </div>
        <div class="instagram-link">
            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" alt="instagram" class="instagram-icon">
            <a href="/">/niko_pl97</a>
        </div>
    </div>
    <div class="about">
        <a href="/">Acerca de esta aplicación</a>
    </div>
</div>
