@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.conteiner{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.conteiner_information{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px 30px;
}
.cv__photo{
    width: 30%;
    border-radius: 50%;
    margin-top: 30px;
}
.name{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    margin: 10px 0 0 0;
}
.degree{
    display: flex;
    justify-content: center;
    min-width: 232px;
    margin: 10px 0 0 0;
    padding: 10px 10px;
    letter-spacing: 1px;
    background-color: turquoise;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    p {
        margin: 0px;
        font-family: 'Oswald', sans-serif;
    }

}
.objetivo{
    margin: 20px 10px;
    font-family: 'Oswald', sans-serif;
    .objetivo-title{
        font-size: 25px;
    }
    .objetivo-content{
        font-size: 20px;
    }
}

@media only screen and (max-width: 620px){
    .conteiner_information{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Ubuntu', sans-serif;
        margin: 0px 30px;
    }
    .cv__photo{
        width: 160px
    }
    .objetivo{
        .objetivo-content{
            font-size: 18px;
        }
    }
}
