<div class="conteiner">
    <aside class="aside__information">
        <p>CV</p>
        <nav class="indice">
            <a href="cv/#objetivo">Objetivo</a>
            <a href="#Experiencia_profesional">Experiencia Profesional</a>
            <a href="#Formacion_academica">Formación Académica</a>
            <a href="#Actividades">Actividades Extracurriculares</a>
            <a href="#Habilidades">Habilidades y Competencias</a>
            <a href="#Idiomas">Idiomas</a>
        </nav>
    </aside>
    <div class="conteiner_information">
        <img src="/assets/images/Foto.jpg" alt="" class="cv__photo">
        <p class="name">Nicolás Pacheco López</p>
        <p class="degree">INGENIERO MECATRÓNICO</p>

        <div class="objetivo" id="objetivo">
            <p class="objetivo-title">OBJETIVO</p>
            <p class="objetivo-content">Ejercer mis conocimientos, las herramientas y valores que he adquirido a lo largo de mi experiencia académica 
                y profesional con el fin de formar parte de un equipo en una empresa global. 
                Me encanta el área de la programación, especialmente la dedicadas a robots, 
                todo lo relacionado con Internet y las nuevas tecnologías.</p>
        </div>
        <div class="Experiencia_profesional" id="Experiencia_profesional">
            <p class="Experiencia_profesional-title">EXPERIENCIA PROFESIONAL</p>
        </div>
        <div class="Formacion_academica" id="Formacion_academica">
            <p class="Formacion_academica-title">FORMACIÓN ACADÉMICA</p>
        </div>
        <div class="Actividades" id="Actividades">
            <p class="Actividades-title">ACTIVIDADES ECTRACURRICULARES</p>
            <li>TORNEO MEXICANO DE ROBÓTICA:<br>
                Tercer Lugar en la categoría Auto-modelcar. (marzo 2019)</li>
            <li>Miembro del Taller de Robótica de la Facultad de Ingeniería.<br>
                (enero 2016 – diciembre 2019)</li>
            <li>Curso ‘Arquitectura Front-End’ a través de la plataforma PLATZI.<br>
                (enero 2021)</li>
            <li>Curso ‘Front-End con Angular’ a través de la plataforma PLATZI.<br>
                (enero 2021)</li>
        </div>
        <div class="Habilidades" id="Habilidades">
            <p class="Habilidades-title">HABILIDADES Y COMPETENCIAS</p>
            <li>Responsable.</li>
            <li>Proactivo.</li>
            <li>Buen trabajo en equipo.</li>
            <li>Autoaprendizaje.</li>
            <li>Autodidacta.</li>
            <li>Dedicado.</li>
            <li>Honesto.</li>
        </div>
        <div class="Idiomas" id="Idiomas">
            <p class="Idiomas-title">IDIOMAS</p>
            <li>Native: Spanish.</li>
             <li>Inglés: intermedio - Avanzado<br>
                Certificación TOELF ITP</li>
        </div>
    </div>
</div>
