<div class="conteiner">
    <p class="name">Nicolás Pacheco López</p>
    <div class="degree">
        <p>INGENIERO MECATRÓNICO</p>
    </div>
    <div class="conteiner_information">
        <div class="objetivo">
            <p class="objetivo-title">OBJETIVO</p>
            <p class="objetivo-content">Ejercer mis conocimientos, las herramientas y valores que he adquirido a lo largo de mi experiencia académica 
                y profesional con el fin de formar parte de un equipo en una empresa global. 
                Me encanta el área de la programación, especialmente la dedicadas a robots, 
                todo lo relacionado con Internet y las nuevas tecnologías.</p>
        </div>
        <img src="/assets/images/Foto.jpg" alt="" class="cv__photo">
    </div>
</div>
