<div class="title">Dibujos</div>
<div class="carrusel">
    <div class="carrusel__container">
        <div class="carrusel-item" *ngFor = 'let item of images'>
            <img class="carrusel-item__img" [src]="item.link" alt="name">
            <div class="carrusel-item__details">
                <div class="carrusel-item__details--icons">
                    <img src="https://img.icons8.com/cotton/64/000000/like.png"/>
                    <img src="https://img.icons8.com/nolan/64/forward-arrow.png"/>
                </div>
                <p class="carrusel-item__details--title">{{ item.title }}</p>
                <p class="carrusel-item__details--date"> {{item.date}} </p>
            </div>
        </div>
    </div>
</div>
