<div class="conteiner">
    <div class="mac-message">
        <div class="container__icon">
            <img src="assets/images/icons8-red-circle-48.png" alt="red icon">
            <img src="assets/images/icons8-yellow-circle-48.png" alt="yellow icon">
            <img src="assets/images/icons8-green-circle-48.png" alt="green icon">
        </div>
        <div class="form">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form__input">
            <input type="text" name="correo" id="correo" placeholder="Correo" class="form__input">
            <textarea name="comentario" id="comentario" cols="" rows="" placeholder="Comentario" class="form__input--comments"></textarea>
        </div>
        <div class="form-button">
            <button class="form-button__cancel">Cancelar</button>
            <button class="form-button__post">Publicar</button>
        </div>
    </div>
</div>
