html{
    scroll-behavior: smooth;
}
body{
    background: #d8ebe4;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #282846;
    min-height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
