<div class="row justify-content-center">
    <div class="row col-12 justify-content-center">
        <div class="col-md-8">
            <div class="cv-information">
                <app-information></app-information>
            </div>
        </div>
        <div class="col-md-4">
            <div class="lan-skills">SKILSS</div>
        </div>
    </div>
    <div class="row col-12 part-2">
        <div class="col-md-9">
            <div class="exp-profesional">
                <app-exp-profesional></app-exp-profesional>
            </div>
            <div class="proyects">
                <app-proyects></app-proyects>
            </div>
        </div>
        <div class="col-md-3">
            <div class="exp-academic">Academic</div>
        </div>
    </div>
</div>


