<div class="foot">
    <div class="footer">
        <div class="informacion">
            <div class="social-media">
                <p class="social-media__title">Sígueme</p>
                <div class="social-media__icons">
                    <img src="https://img.icons8.com/ios/50/000000/facebook--v1.png" alt="" class="social-media__icons--facebook">
                    <img src="https://img.icons8.com/ios/50/000000/instagram-new--v1.png" alt="" class="social-media__icons--instagram">
                    <img src="https://img.icons8.com/ios/50/000000/linkedin.png" alt="" class="social-media__icons--linkedin">
                    <img src="https://img.icons8.com/windows/32/000000/github.png" alt="" class="social-media__icons--github">
                </div>
            </div>
            <div class="logo">
                <img src="assets/images/log.png" alt="" class="logo-image">
            </div>
            <div class="contacto">
                <p class='contacto-title'>Contáctame</p>
                <p class="correo">nicolaspachecol97@gmail.com</p>
                <p class="numero-telefonico">Tel: (55) 5555 5555</p>
            </div>
        </div>
        <div class="about">
            <p>Acerca de esta página</p>
        </div>
    </div>
</div>
